# .gitignore for rust-groestlcoin repository workspace.
.idea/

# Lock files
Cargo.lock
internals/Cargo.lock
groestlcoin/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
groestlcoin/target
hashes/target

# Test artifacts
groestlcoin/dep_test

# Fuzz artifacts
groestlcoin/fuzz/hfuzz_target
groestlcoin/fuzz/hfuzz_workspace
hashes/fuzz/hfuzz_target
hashes/fuzz/hfuzz_workspace
