# .gitignore for rust-groestlcoin repository workspace.
.idea/

# Lock files
Cargo.lock
internals/Cargo.lock
groestlcoin/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
groestlcoin/target
hashes/target

# Test artifacts
groestlcoin/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
